.vscode/
venv/
venv312/
penv/
*env/
venv_win/
motaa_venv/
media/
*/migrations/
*/**/migrations/
*/__pycache__/
*/**/__pycache__/

server.sh
digital_ocean_setup

customer_api_consumer.pyr
*consumer.pyr

db.sqlite3
*.sqlite3
db.sqlite3-journal
backup.sql
*.sql
doc.md
.env.local


git-token
git_access_token
*.pem
veyu-ssh-key.pem
# uploads/

.kiro
.kiro.lock
