version: '3'

services:
  django:
    build: .
    command: gunicorn motaa.asgi:application --bind 0.0.0.0:8000
    volumes:
      - .:/usr/src/app/motaa
    expose:
      - "8000"
    depends_on:
      - redis
    networks:
      - app-network

  nginx:
    image: nginx:latest
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./static:/usr/src/app/motaa/static
      - ./media:/usr/src/app/motaa/media
    ports:
      - "80:80"
    depends_on:
      - django
    networks:
      - app-network

  redis:
    image: redis:latest
    expose:
      - "6379"
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
